
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300&family=Raleway:wght@300;400;700&display=swap');

html{
    scroll-behavior: smooth;
}

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298);
    --color-primary:#47B5FF; 
    --color-secondary:#764ba2;
    --boton-padding: 20px 40px;
    
} 

body{
font-family: 'Raleway', sans-serif;
font-size: 20px !important;
}


.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle{
    color:var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero{
    height: 100vh;
    background-image: var(--background), url('../img/img2.jpg');   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}



.check{
    position: relative;
    width: 50px;
}

.check:before{
    content: '';
    position:  absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check:after{
    content: '';
    position:  absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after{
    left: 25px;
    border: 2px solid #00a1ff;;
}

.check:checked:before{
    background: #00a1ff;
    
}

.hero  .container{
    padding: 0;
}




.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--cta{
    border: 1px solid #fff;
}





.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.hero__texts{
    width: 80%;
    margin: bottom 50px; ;
}

hero__title{
    font-size: 3.2rem;
}

.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero__wave{
    position: absolute;
   bottom: 0%;
   left: 0%;
   width: 100%;
   height: 100px;
}


.hero__cta{
    display: inline-block;
    background-color: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;

    
}

/*About*/

.presentation{
    text-align: center;
    padding: 5%;
}

.presentation__picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.presentation__copy{
    width: 80%;
    margin: 0% auto;
}

.presentation__cta{
    margin-top: 30px;
    display: inline-block;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.about{
    min-height: 400px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about__img{
    text-align: center;
}

.about__img--left{
    text-align: left;
}

.about__picture{
    max-width: 80%;
}

.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/*projects*/

.projects{
    background: #f2f2f2;
}

.projects__grid{

    display: grid;
    height: 550px;
    grid-template-areas:
    "img1 img1 img2 img3"
    "img1 img1 img4 img5"
     ;
     gap: 10px;
}

.projects__item{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.projects__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}


.projects__item:nth-of-type(1){
    grid-area: img1 ;
}
.projects__item:nth-of-type(2){
    grid-area: img2 ;
}
.projects__item:nth-of-type(3){
    grid-area: img3 ;
}
.projects__item:nth-of-type(4){
    grid-area: img4 ;
}
.projects__item:nth-of-type(5){
    grid-area: img5 ;
}

.projects__hover{
    position: absolute;
    background-color: #dc143c8c;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
}

.projects__item:hover .projects__hover{
    transform: translateX(0%);
}

.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}




/*Responsive design*/

@media screen and (max-width: 800px){
    :root{
    --boton-padding: 18px 40px;
}

.hero__wave{
   visibility: hidden;
}


.nav{
    justify-content: space-around;
}

.nav__items--cta{
    border: none;
}


.nav__items{
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0%;
}

.hero__texts{
    width: 100%;
    margin-bottom: 80px;
}

.hero__title{
    font-size: 2.5rem;

}

.hero__subtitle{
    font-size: 1.5rem;
}

/*About*/

.presentation__copy{
    width: 100%;

}

.about{
    grid-template-columns: 1fr;
}

.about.container{
    padding-top: 30px;
}

.about__img--left{
    text-align: center;
}

.about__texts:last-child{
    grid-row: 3/4;
}

/*My projects*/

.projects__grid{
    grid-template-areas:
    "img1 img1 img2 img2"
    "img1 img1 img3 img3"
    "img4 img4 img5 img5";
}





    /*About*/

    .presentation__picture{
        width: 120px;
        height: 120px;
    }

    .about{
        row-gap: 60px;
    }

    .about.container{
        padding-top: 10px;
    }

/*My projects*/
    .projects__grid{
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
        height: auto;
        grid-template-rows: repeat(5,250px);
        grid-auto-rows: 250px;
        gap: 10px;
    }

 


}